@font-face {
  font-family: 'linquip';
  src:  url('fonts/linquip.eot?1bds5z');
  src:  url('fonts/linquip.eot?1bds5z#iefix') format('embedded-opentype'),
    url('fonts/linquip.ttf?1bds5z') format('truetype'),
    url('fonts/linquip.woff?1bds5z') format('woff'),
    url('fonts/linquip.svg?1bds5z#linquip') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="lfi-"], [class*=" lfi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'linquip' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lfi-file-outline:before {
  content: "\e93a";
}
.lfi-tick-outline:before {
  content: "\e939";
}
.lfi-android-down:before {
  content: "\e935";
}
.lfi-android-left:before {
  content: "\e936";
}
.lfi-android-right:before {
  content: "\e937";
}
.lfi-android-up:before {
  content: "\e938";
}
.lfi-bullet:before {
  content: "\e934";
}
.lfi-deal:before {
  content: "\e933";
}
.lfi-buy:before {
  content: "\e932";
}
.lfi-tick:before {
  content: "\e931";
}
.lfi-bidding:before {
  content: "\e930";
}
.lfi-directory:before {
  content: "\e925";
}
.lfi-marketing:before {
  content: "\e926";
}
.lfi-online-demo:before {
  content: "\e92b";
}
.lfi-seo:before {
  content: "\e92d";
}
.lfi-reports:before {
  content: "\e921";
}
.lfi-vendor:before {
  content: "\e907";
}
.lfi-general-services:before {
  content: "\e908";
}
.lfi-service-providing:before {
  content: "\e909";
}
.lfi-repair:before {
  content: "\e90a";
}
.lfi-engineering:before {
  content: "\e90b";
}
.lfi-retrofit:before {
  content: "\e90c";
}
.lfi-commissioning:before {
  content: "\e90d";
}
.lfi-installation:before {
  content: "\e90e";
}
.lfi-distribute:before {
  content: "\e90f";
}
.lfi-field-services:before {
  content: "\e910";
}
.lfi-consulting:before {
  content: "\e911";
}
.lfi-refurbishment:before {
  content: "\e912";
}
.lfi-overhaul:before {
  content: "\e913";
}
.lfi-inspection:before {
  content: "\e914";
}
.lfi-test:before {
  content: "\e915";
}
.lfi-quote:before {
  content: "\e906";
}
.lfi-shop:before {
  content: "\e904";
}
.lfi-promotion:before {
  content: "\e903";
}
.lfi-project-outline:before {
  content: "\e902";
}
.lfi-add-outline:before {
  content: "\e901";
}
.lfi-ad:before {
  content: "\e905";
}
.lfi-company:before {
  content: "\63";
}
.lfi-close:before {
  content: "\64";
}
.lfi-dashboard:before {
  content: "\65";
}
.lfi-delete:before {
  content: "\66";
}
.lfi-device:before {
  content: "\67";
}
.lfi-done:before {
  content: "\68";
}
.lfi-down:before {
  content: "\69";
}
.lfi-write:before {
  content: "\6b";
}
.lfi-web:before {
  content: "\6c";
}
.lfi-user:before {
  content: "\6d";
}
.lfi-upload-video:before {
  content: "\6e";
}
.lfi-upload-photo:before {
  content: "\6f";
}
.lfi-up:before {
  content: "\70";
}
.lfi-twitter:before {
  content: "\71";
}
.lfi-tools:before {
  content: "\72";
}
.lfi-skills:before {
  content: "\73";
}
.lfi-share-to:before {
  content: "\74";
}
.lfi-share:before {
  content: "\75";
}
.lfi-search:before {
  content: "\76";
}
.lfi-location:before {
  content: "\77";
}
.lfi-login:before {
  content: "\78";
}
.lfi-eye:before {
  content: "\79";
}
.lfi-endorsment:before {
  content: "\7a";
}
.lfi-equipment:before {
  content: "\41";
}
.lfi-facebook:before {
  content: "\42";
}
.lfi-equipment-products:before {
  content: "\43";
}
.lfi-feed:before {
  content: "\44";
}
.lfi-logout:before {
  content: "\45";
}
.lfi-follow-company:before {
  content: "\47";
}
.lfi-equipment-rent:before {
  content: "\48";
}
.lfi-equipment-sale:before {
  content: "\49";
}
.lfi-follow-user:before {
  content: "\4a";
}
.lfi-message:before {
  content: "\4b";
}
.lfi-news:before {
  content: "\4c";
}
.lfi-gallery:before {
  content: "\4d";
}
.lfi-equipment-service:before {
  content: "\4e";
}
.lfi-equipment-services:before {
  content: "\4f";
}
.lfi-hamburger-menu:before {
  content: "\50";
}
.lfi-opportunity:before {
  content: "\51";
}
.lfi-password:before {
  content: "\52";
}
.lfi-more:before {
  content: "\53";
}
.lfi-error:before {
  content: "\54";
}
.lfi-experience:before {
  content: "\55";
}
.lfi-expert:before {
  content: "\56";
}
.lfi-instagram:before {
  content: "\57";
}
.lfi-interests:before {
  content: "\58";
}
.lfi-phone:before {
  content: "\59";
}
.lfi-profile:before {
  content: "\5a";
}
.lfi-projects:before {
  content: "\30";
}
.lfi-revenue:before {
  content: "\31";
}
.lfi-left:before {
  content: "\32";
}
.lfi-linkedin:before {
  content: "\35";
}
.lfi-expertise:before {
  content: "\36";
}
.lfi-expert-level:before {
  content: "\38";
}
.lfi-edit:before {
  content: "\39";
}
.lfi-education:before {
  content: "\21";
}
.lfi-email:before {
  content: "\22";
}
.lfi-related:before {
  content: "\24";
}
.lfi-notification:before {
  content: "\25";
}
.lfi-home:before {
  content: "\26";
}
.lfi-menu:before {
  content: "\46";
}
.lfi-info:before {
  content: "\29";
}
.lfi-upload-pdf:before {
  content: "\2a";
}
.lfi-attachment:before {
  content: "\2b";
}
.lfi-like:before {
  content: "\33";
}
.lfi-dislike:before {
  content: "\23";
}
.lfi-evaluation:before {
  content: "\27";
}
.lfi-right:before {
  content: "\34";
}
.lfi-expert-users:before {
  content: "\37";
}
.lfi-comment:before {
  content: "\28";
}
.lfi-cost:before {
  content: "\2c";
}
.lfi-environment-friendly:before {
  content: "\2d";
}
.lfi-performance:before {
  content: "\2e";
}
.lfi-star:before {
  content: "\2f";
}
.lfi-maintenance:before {
  content: "\3a";
}
.lfi-reliability:before {
  content: "\3b";
}
.lfi-alert:before {
  content: "\61";
}
.lfi-add:before {
  content: "\62";
}
.lfi-download-pdf:before {
  content: "\6a";
}
.lfi-environmental:before {
  content: "\e916";
}
.lfi-food-agriculture:before {
  content: "\e917";
}
.lfi-general-equipment:before {
  content: "\e918";
}
.lfi-hvac-refrigeration:before {
  content: "\e91a";
}
.lfi-hydraulic-pneumatic:before {
  content: "\e919";
}
.lfi-measurement:before {
  content: "\e91c";
}
.lfi-oil-gas:before {
  content: "\e91b";
}
.lfi-production-machine-tools:before {
  content: "\e91d";
}
.lfi-renewable-energy:before {
  content: "\e91e";
}
.lfi-tools-instruments:before {
  content: "\e91f";
}
.lfi-utility:before {
  content: "\e920";
}
.lfi-budget:before {
  content: "\e922";
}
.lfi-bulk-material:before {
  content: "\e923";
}
.lfi-categories:before {
  content: "\e924";
}
.lfi-material:before {
  content: "\e927";
}
.lfi-port:before {
  content: "\e928";
}
.lfi-product:before {
  content: "\e929";
}
.lfi-quantity:before {
  content: "\e92a";
}
.lfi-size:before {
  content: "\e92c";
}
.lfi-structure:before {
  content: "\e92e";
}
.lfi-type:before {
  content: "\e92f";
}
.lfi-spin:before {
  content: "\e900";
}
